<!--The content below is only a placeholder and can be replaced.-->
<!-- <ngx-monaco-editor class="my-code-editor" [options]="editorOptions" [(ngModel)]="code" (onInit)="onInit($event)"></ngx-monaco-editor> -->
<!-- <router-outlet></router-outlet> -->

<!-- <ngx-monaco-diff-editor [options]="options" [originalModel]="originalModel" [modifiedModel]="modifiedModel"></ngx-monaco-diff-editor>  -->
<!-- <div>
  <button (click)="loadEditor()">Load Editor</button>
  <button (click)="removeEditor()">Remove Editor</button>
</div> -->
<!-- <div [ngSwitch]="editorLoadStatus">
        <ng-template [ngSwitchCase]="'editorRemoved'"><app-video></app-video></ng-template>
        <ng-template [ngSwitchCase]="'editorDisplayed'"><app-edit></app-edit></ng-template>
</div> -->
<!-- <app-editvideo></app-editvideo> -->
<app-editaudio></app-editaudio>
